.navbar-toggler[b-ah7062ugz0] {
    background-color: rgba(27, 148, 11, 0.1);
}

.top-row[b-ah7062ugz0] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-ah7062ugz0] {
    font-size: 1.1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(100, 190, 9);
}

.oi[b-ah7062ugz0] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-ah7062ugz0] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-ah7062ugz0] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-ah7062ugz0] {
        padding-bottom: 1rem;
    }

    .nav-item[b-ah7062ugz0]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-ah7062ugz0]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-ah7062ugz0]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}
.nameLog[b-ah7062ugz0]{
    font-size: 1.5rem;
    color: white !important;
}
@media (min-width: 641px) {
    .navbar-toggler[b-ah7062ugz0] {
        display: none;
    }

    .collapse[b-ah7062ugz0] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
