@inherits LayoutComponentBase
@inject NavigationManager _navigationManager
@inject HttpClient _httpClient

<div class="page">

    <div class="sidebar">
        <NavMenu />

    </div>
    <main>
        <AuthorizeView>
            <Authorized>

            </Authorized>
        </AuthorizeView>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
@code {

}